<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="shortcut icon" type="image/ico" href="{{ '/assets/favicon.ico?v=' | append: site.github.build_revision | relative_url }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <!--<h1 class="project-name">黎小刚同学</h1>-->
      <!--<h2 class="project-tagline">程序 = 数据结构 + 算法</h2>-->
    </section>

    <section class="main-content">
      {{ content }}

      <!--<footer class="site-footer">
        <span class="site-footer-credits">联系方式：<span style="color:#1e6bb8">2249975638@qq.com</span></span>
      </footer>-->
    </section>
  </body>
</html>
